Header Set Access-Control-Allow-Origin "*"
RewriteEngine on
RewriteBase /
# La nouvelle règle
RewriteCond %{HTTP_HOST} ^zartisan.yj.fr [NC]
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
# Votre règle fonctionne, ne la modifiez pas ;)
RewriteCond %{REQUEST_URI} !^/public
RewriteRule ^(.*)$ /public/$1 [L]
